---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff; /*fdfdfd*/
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$filter-menu-color: #dfdfdf;

$action-button-color: #dfdfdf;

$accent-color: #4EBB8F;
$color-on-accent: #fff;

$filter-cell-divider-color:#979797;

$paths-cell-divider-color: #cdcdcd;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

header {
	position: absolute;
	top: 15px;
	left: 15px;
}

ul {
	margin: 0px;
}


.footstep-button {
	height: 50px;
	width: 50px;
	font-size: 50px;
	display: block;
}

.action-container:first-child {
	margin-bottom: 15px;
}

.action-button {
	height: 50px;
	width: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color: white;
}

.actions {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#recording-icon {
	margin-bottom: 15px;
}

.filter-container {
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.filter-icon {
	height: 50px;
	width: 50px;
	font-size: 50px;
	display: block;
}

.filter-subcontainer {
	position:relative;
	margin: 0px auto;
	height: 50px;
	width: 50px;
}

.filter-bar {
	position: fixed;
	border-top: 1px solid #999;
	height: 218px;
	width: 100%;
	bottom: -500px;
	background-color: $filter-menu-color;
}

.animated {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.slide-up-container {
	bottom: 240px;
}

.slide-up
{
    bottom: 0px;
}

.slide-down
{
    bottom: -500px;
}

.filter-menu-icon {
	height: 30px;
	width: 30px;
	font-size: 30px;
	margin-right: 10px;
}

#filter-items-container {
	background-color: $filter-menu-color;
}

.table-view-cell {
	background-color: $filter-menu-color; 
	border-bottom: 1px solid $filter-cell-divider-color;
}

.table-view-cell {
	border-bottom: none;
}

.route-header {
	text-align: center;
}

.action-container {
	background-color: $accent-color;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

#isRecording {
	background-color: red;
}

/**** My Paths ****/

.paths-header {
	background-color: $accent-color;
	height: 50px;
	width: 100%;
	text-align: center;
	color: $color-on-accent;
	line-height: 50px;
}

#back-button {
    position: absolute;
    margin-top: 13px;
    left: 15px;
    margin-bottom: 13px;
}

/**** MODIFY RATCHET: MapView ****/

.toggle {
	width: 50px;
}

.toggle:before {
	content: "";
}

.toggle.active:before {
	content: "";
}

.slider {
	background-color: $filter-menu-color; 
}

.navigate-right:after, .push-right:after {
    right: "";
    content: "";
}

.table-view-cell .navigate-right > .badge {
	right: 20px;
}

.table-view .table-view-cell .badge {
	background-color: none important;
}

/**** MODIFY RATCHET: My Paths View ****/

#path-items-container .table-view-cell {
	background-color: $background-color;
	border-bottom: 1px solid $paths-cell-divider-color;
}

.table-view {
	border: none;
}

/**** Mapbox map styles ****/

body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#footstep-map {
	width: 100%;
	height: 100%;
	z-index: -1;
}

/**** Core app content layout ****/

.bar {
	z-index: 10;
}

.content {
	z-index: 5;
	width: 100%;
	height: 100%;
}