---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff; /*fdfdfd*/
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$profile-icon-size: 30px;

$sidebar-menu-color: #ffffff;

$action-button-color: #dfdfdf;

$accent-color: #4EBB8F;
$color-on-accent: #fff;

$filter-cell-divider-color:#979797;

$paths-cell-divider-color: #cdcdcd;

$ui-transition-speed: 0.3s;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

@font-face {
	font-family: AvenirWeb_bold;
	src: url("../fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
	font-family: AvenirWeb_demi;
	src: url("../fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.otf") format("opentype"); 
}

@font-face {
	font-family: AvenirWeb_regular;
	src: url("../fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.otf") format("opentype");
}

body {
	font-family: AvenirWeb_regular;
}

header {
	position: absolute;
	top: 15px;
	left: 15px;
}

ul {
	margin: 0px;
}

/**** Top bar ****/

.title {
	font-family: AvenirWeb_demi;
}

.profile-button {
	color: $color-on-accent;
	padding: 0px !important;
	margin-right: 10px;
	font-size: $profile-icon-size !important;
}

#dest-search-input {
	margin: 7px 0px;
	color: $grey-color-dark;
}

/**** Action items ****/

.actions {
	position: absolute;
	bottom: 15px;
	right: 15px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.action-button {
	height: 50px;
	width: 50px;
	margin-top: 15px;
	background-color: $accent-color;
	display: block;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color: white;
	border-radius: 25px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.footstep-button {
	height: 50px;
	width: 50px;
	font-size: 50px !important;
	display: block;
}

#drop-button {
	display: none;
	background-image: url('../assets/dropMarkerIcon.png');
	background-repeat: no-repeat;
	background-size: 25px 32px;
    background-position: 50% 50%;
}

.isRecording {
	background-color: #FF5555;
}

/**** Filters / Path info box ****/
.animated {
    -webkit-transition: all $ui-transition-speed ease;
    transition: all $ui-transition-speed ease
}

.slide-up-container {
	bottom: 240px;
}

.slide-up
{
    bottom: 0px;
}

.slide-down
{
    bottom: -500px;
}

.filter-menu-icon {
	height: 30px;
	width: 30px;
	font-size: 30px;
	margin-right: 10px;
}

.route-header {
	text-align: center;
}

.traveller-profile-pic-thumbnail {
	background: url('../assets/empty-profile.png') no-repeat;
	height: 39px; /*$profile-icon-size;*/
    width: 39px; /*$profile-icon-size;*/
    background-size: contain;
    border-radius: 50%;  
    border: 2px solid $color-on-accent;
    float: right;
    margin-top: 2px; /*7px;*/
    position: relative;
    z-index: 10;
}

.route-description {
	padding: 15px;
}

.route-info-table {
	text-align: center;
	width: 100%;
}

.route-info-table td {
	text-align: center;
	width: 33%;
}

.photo-track {
	width: 10000px;
	overflow: scroll;
	height: 75px;
	margin-bottom: 30px;
}
.photo-track::-webkit-scrollbar { width: 0 !important }


.path-preview {
	max-height: 100%;
	display: inline-block !important;
	margin-left: 10px;
}

.follow-button-container {
	padding: 0px 15px;
}

/**** Traveller Page ****/

.catherine-pic {
	background: url('../assets/catherine-profile.jpg') no-repeat;
    background-size: contain;
}

.traveller-profile-pic {
	height: 110px;
    width: 110px;
    border-radius: 50%; 
    margin: 0 auto; 
	border: 3px solid $color-on-accent;
}

.traveller-profile-pic-container {
	background-color: $accent-color;
	padding-bottom: 20px;
}

.traveller-header-info {
    margin: 0 auto; 
	color: $color-on-accent;
	margin-top: 10px;
}

.traveller-name-text {
	text-align: center;
	font-family: AvenirWeb_demi;
	font-size: 20px;
}

.traveller-home-text {
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
}

.traveller-snapshot-info-container {
	height: 50px;
	width: 100%;
	background: rgba(78, 187, 142, 0.2);

	display: table;
	table-layout: fixed;
}

.traveller-snapshot-info-item {
	display: table-cell;
	height: 100%;
	text-align: center;
	color: $color-on-accent;
	font-size: 12px;
	padding: 5px;
	padding-top: 10px;
}

.traveller-details-container {
	padding: 20px 20px 0px 20px;
}

.traveller-details-container h5 {
    font-family: AvenirWeb_demi;
}

.metric-value {
	font-size: 15px;
	color: $accent-color;
    font-weight: bold;
    font-family: AvenirWeb_demi;
}

.metric-name {
	color: #979797;
}


/**** My Paths page ****/ 

.path-details-container {
	margin: 0px;
	padding-top: 11px;
}

#paris-image-2 {
	background: url('../assets/paris-thumbnail.jpg') no-repeat;
	background-size: cover;
    background-position: -50px;
}

#paris-image-1 {
	background: url('../assets/paris-cheese-thumbnail.jpg') no-repeat;
	background-size: cover;
    background-position: -19px;
}

#ireland-image {
	background: url('../assets/ireland-thumbnail.jpg') no-repeat;
	background-size: cover;
}

#tokyo-image {
	background: url('../assets/tokyo.jpg') no-repeat;
	background-size: cover;
}

.path-thumbnail {
    height: 100%;
    width: 90px;
	float: left;
	margin-right: 14px;
}

.date-text {
	float: right;
    margin-right: 10px;
    font-size: 11px;
    color: #bdbdbd;
}

.num-followers-text {
	font-size: 11px;
	float: left;
    color: #bdbdbd;
}

.path-details-last-row {
	margin-top: 12px;
}

/*.pathname {
	font-family: AvenirWeb_demi;
}*/

.location-text {
	font-size: 12px;
}

/*#church-pic-marker {
	background: url('../assets/stanford-chapel.jpg') no-repeat;
	background-size: contain;
}*/

/*.image-marker {
	width: 20%;
	height: 208px;
}

.marker-info {
	
}*/

/**** Search results ****/

#search-results {
	position: fixed;
	top: 44px;
	width: 100%;
}

#search-results ul {
	width: 100%;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#search-results ul li {
	width: 100%;
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0px 15px;
	background: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}

/**** Mapbox map styles ****/

#footstep-map {
	width: 100%;
	height: 100%;
	z-index: -1;
}

/**** Markers bar ****/
.drop-bar {
	height: 50px;
	width: 290px;
	background: url(../assets/markers-bar.png) no-repeat;
	background-size: contain;
	margin: 7px auto;
}
.drop-bar-follow {
	height: 50px;
	width: 270px;
	background: url(../assets/markers-bar.png) no-repeat;
	background-size: contain;
	margin: 10px auto;
	margin-top: 15px;
}


/**** My Markers ****/
.paris-marker-image{
	background: url('../assets/paris-thumbnail.jpg') no-repeat;
	background-size: cover;
  height: 80%;
  width: 100%;
	float: left;
	margin-right: 14px;
}

.photo-marker-text{
	margin-left: 10px;
}

.sound-wave-image{
	background: url('../assets/sound-wave.png') no-repeat;
	background-size: cover;
  height: 60%;
  width: 100%;
	float: left;
	margin-right: 14px;
}

.extra-margin{
	margin-top:10px;
}

.last-marker{
   margin-bottom: 75px;
   clear: both;
}

/**** Following Panel ****/
.directions-img{
	width: 15%;
	height: auto;
	margin-top: 10px;
	margin-left: 20px;
}
.direction-text{
	position: relative;
	float: right;
	margin-top: 20px;
	margin-right: 70px;
}
.marker-text{
	position: relative;
	float: right;
	margin-top: -20px;
	margin-right: 70px;
	font-size: 11px;
   color: #bdbdbd;
}

.new-marker-dialogue{
	margin-top: 15px;
}

.marker-buttons{
	text-align: center;
}
