---
# Footstep-specific theme modifications for Slick.
---
@charset "utf-8";

$accent-color: #4EBB8F;
$sidebar-menu-color: #ffffff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

.slider {
	background-color: $sidebar-menu-color; 
}

.navigate-right:after, .push-right:after {
    right: "";
    content: "";
}

/**** Slide style ****/

.slick-slide {
	overflow: hidden;
}

/**** Pager (dots) style ****/

ul.slick-dots {
	max-width: 200px;
	margin: 6px auto;
	text-align: center;
}

ul.slick-dots li {
	display: inline-block;
	list-style-type: none;
	border-radius: 5px;
	width: 10px;
	height: 10px;
	margin: 5px;
	background: $grey-color-dark;
}

ul.slick-dots li.slick-active {
	background: $accent-color;
}