<div id="filters" class="sidebar-content">
    <div class="bar bar-content bar-inverted">
            <a class="icon icon-close pull-right" href="#" onclick="javascript:hideSidebar()" data-ignore="push"></a>
        <h1 class="title">Map filters</h1>
    </div>
    <br />
    <h4>By path</h4>
    <ul class="table-view">
        <li class="table-view-cell">
            <div class="filter-menu-icon icon" id="friends-icon"></div>
            Friends' Paths
            <div id="friends-toggle" class="toggle">
                <div class="toggle-handle"></div>
            </div>
            <script>
            addLayerToggle("friends", "#friends-toggle");
            </script>
        </li>
        <li class="table-view-cell">
            <div class="filter-menu-icon icon" id="paths-icon"></div>
            Popular Paths
            <div id="people-toggle" class="toggle">
                <div class="toggle-handle"></div>
            </div>
            <script>
            addLayerToggle("paths", "#people-toggle");
            </script>
        </li>
        <!--
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Your Paths
            <div id="paths-toggle" class="toggle">
                <div class="toggle-handle"></div>
            </div>
            <script>
            addLayerToggle("user", "#paths-toggle");
            </script>
        </li>
    -->
    </ul>
    <h4>By tag</h4>
    <div class="tags">
        <span class="badge" id="tag1" onclick='javascript:highlightTag("tag1")'>architecture</span>
        <span class="badge" id="tag2" onclick='javascript:highlightTag("tag2")'>castles</span>
        <span class="badge" id="tag3" onclick='javascript:highlightTag("tag3")'>museums</span>
        <span class="badge" id="tag4" onclick='javascript:highlightTag("tag4")'>wine</span>
        <span class="badge" id="tag5" onclick='javascript:highlightTag("tag5")'>boba</span>
        <span class="badge" id="tag6" onclick='javascript:highlightTag("tag6")'>tourist</span>
        <span class="badge" id="tag7" onclick='javascript:highlightTag("tag7")'>music</span>
        <span class="badge badge-primary">+ add tag</span>
    </div>
</div>