<div id="filters" class="sidebar-content">
    <div class="bar-content bar-inverted">
        <h1 class="title">Map filters</h1>
    </div>
    <ul class="table-view">
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Friends
            <div id="friends-toggle" class="toggle">
                <div class="toggle-handle"></div>
            </div>
            <script>
            addLayerToggle(friendsLayer, "#friends-toggle");
            </script>
        </li>
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Places
            <div id="places-toggle" class="toggle">
                <div class="toggle-handle"></div>
            </div>
            <script>
            addLayerToggle(placesLayer, "#places-toggle");
            </script>
        </li>
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Relevant People
            <div id="people-toggle" class="toggle">
                <div class="toggle-handle"></div>
            </div>
            <script>
            addLayerToggle(peopleLayer, "#people-toggle");
            </script>
        </li>
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Your Paths
            <div id="paths-toggle" class="toggle">
                <div class="toggle-handle"></div>
            </div>
            <script>
            addLayerToggle(userLocationLayer, "#paths-toggle");
            </script>
        </li>
    </ul>
</div>