<div class="actions">
  <div class="footstep-button icon icon-pause" id="recording-icon"></div>
  <div class="footstep-button icon icon-download"></div>
</div>
<div class="filter-container">
  <div style="width: 50px; height: 50px" class="filter-subcontainer">
    <div class="filter-icon icon icon-up-nav"></div>
</div>
</div>
<div class="filter-bar">
    <ul class="table-view" id="filter-items-container">
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Friends
            <div class="toggle">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Places
            <div class="toggle">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Relevant People
            <div class="toggle">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell">
            <div class="filter-menu-icon icon icon-person"></div>
            Your Path
            <div class="toggle">
                <div class="toggle-handle"></div>
            </div>
        </li>
    </ul>
</div>
