<!-- Search results -->
<div id="search-results">
</div>

<!-- Main map (underneath everything else on this page) -->
<div id="footstep-map">
</div>

<!-- Sidebar -->
<div id="sidebar" class="animated">
</div>

<!-- Lower-left-corner action buttons -->
<ul class="actions-left">
    <!-- Filter button -->
	<li id="filter-button" class="action-button animated icon icon-gear"></li>
</ul>

<!-- Lower-right-corner action buttons -->
<ul class="actions-right">
    <!-- Drop button -->
	<li id="drop-button" class="action-button animated"></li>

    <!-- Recording button -->
    <li id="recording-button" class="action-button animated">
    	<div id="recording-symbol"></div>
    </li>

    <!-- Pan-to-user-location button -->
    <li id="locate-user-button" class="action-button animated your-location-icon"></li>
</ul>

<!-- Popup -->
<div id="popup-overlay" class="animated">
</div>
<div id="popup" class="animated">
</div>

