<!-- Main map (underneath everything else on this page) -->
<div id="footstep-map">
</div>

<!-- Lower-right-corner action buttons -->
<div class="actions">
    <!-- Record/stop button -->
	<div class="action-container" >
	   <div class="action-button icon icon-play"></div>
	</div>

    <!-- Drop item button -->
	<div class="action-container">
        <div class="action-button icon icon-download"></div>
    </div>
</div>

<!-- Sidebar -->
<div id="sidebar-handle" class="animated">
    <span id="sidebar-handle-icon" class="icon icon-up-nav"></span>
</div>
<div id="sidebar" class="animated">
</div>

<!-- Popup -->
<div id="popup" class="animated">
</div>


