<div id="footstep-map">
</div>

<div class="actions">
	<div class="action-container" >
	  <div class="action-button icon icon-play"></div>
	</div>
	<div class="action-container">
  		<div class="action-button icon icon-download"></div>
  	</div>
</div>
<div class="filter-container animated">
  <div style="width: 50px; height: 50px" class="filter-subcontainer">
    <div class="filter-icon icon icon-up-nav"></div>
  </div>
</div>
<div class="filter-bar animated">
    {% include filters.html %}
</div>


