<div class="traveller-snapshot-info-container">
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">4</span> <br> <span class="metric-name">Markers</span>
	</div>
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">1.2</span> <br> <span class="metric-name">Mile Traveled</span>
	</div>
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">8</span> <br> <span class="metric-name">Follows</span>
	</div>
</div>

<ul id="marker-photos-container" class="table-view">
<li class="table-view-cell media table-view-cell-style-card">
  <div class="paris-marker-image"></div>
  <div class="photo-marker-text">I never realized how tall it is!</div>
  <div class="date-text">Feb. 2012</div>
</li>
</ul>

<ul id="marker-audio-container" class="table-view">
<li class="table-view-cell media table-view-cell-style-card">
	<div class="sound-wave-image"></div>
  <div class="photo-marker-text">Sounds outside a coffee shop</div>
  <div class="date-text">Feb. 2012</div>
</li>
</ul>

<ul id="marker-text-container" class="table-view">
<li class="table-view-cell media table-view-cell-style-card">
  <div class="photo-marker-text extra-margin">I left my lock under the bridge. <br / >
    Can you find it? </div>
  <div class="date-text">Feb. 2012</div>
</li>
</ul>

<ul id="marker-photos-container" class="last-marker" class="table-view">
<li class="table-view-cell media table-view-cell-style-card">
  <div class="paris-marker-image"></div>
  <div class="photo-marker-text">The view from my room!</div>
  <div class="date-text">Feb. 2012</div>
</li>
</ul>

<nav class="bar bar-tab">
  <a class="tab-item" href="#">
    <button class="btn btn-primary">Share</button>
  </a>
</nav>
