<ul id="path-items-container" class="table-view">
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="paris-image-2"></div>
  <div class="path-details-container">
    <div class="media-body">
      <a href="markers.html"><span>Trek to Eiffel Tower</span></a>
      <p class="location-text">Paris, France</p>
      <div class="path-details-last-row">
        <p class="num-followers-text">11 Followers</p>
        <p class="date-text">Jan. 2016</p>
      </div>
    </div>
  </div>
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="paris-image-1"></div>
  <div class="path-details-container">
    <div class="media-body">
      <span>Cheese & Wine Hunt</span>
      <p class="location-text">Bordeux, France</p>
      <div class="path-details-last-row">
        <p class="num-followers-text">5 Followers</p>
        <p class="date-text">Jan. 2016</p>
      </div>
    </div>
  </div>
</li>
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="ireland-image"></div>
  <div class="path-details-container">
    <div class="media-body">
      <span>Irish Adventure</span>
      <p class="location-text">Dublin, Ireland</p>
      <div class="path-details-last-row">
        <p class="num-followers-text">5 Followers</p>
        <p class="date-text">March 2015</p>
      </div>
    </div>
  </div>
</li>
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="tokyo-image"></div>
  <div class="path-details-container">
    <div class="media-body">
      <span>Path for Andrei :D</span>
      <p class="location-text">Tokyo, Japan</p>
      <div class="path-details-last-row">
        <p class="num-followers-text">1 Follower</p>
        <p class="date-text">Feb. 2015</p>
      </div>
    </div>
  </div>
</li>
</ul>
