<ul id="path-items-container" class="table-view">
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="paris-image-2"></div>
  <div class="path-details-container">
    <div class="media-body">
      Trek to Eiffel Tower
      <p>Paris, France</p>
      <p class="date-text">Jan. 2016</p>
    </div>
  </div>
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="paris-image-1"></div>
  <div class="path-details-container">
    <div class="media-body">
      Cheese & Wine Hunting
      <p>Bordeux, France</p>
      <p class="date-text">Jan. 2016</p>
    </div>
  </div>
</li>
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="ireland-image"></div>
  <div class="path-details-container">
    <div class="media-body">
      Irish Adventure
      <p>Dublin, Ireland</p>
      <p class="date-text">March 2015</p>
    </div>
  </div>
</li>
<li class="table-view-cell media table-view-cell-style-card">
  <div class="path-thumbnail" id="tokyo-image"></div>
  <div class="path-details-container">
    <div class="media-body">
      Path for Andrei :D
      <p>Tokyo, Japan</p>
      <p class="date-text">Feb. 2015</p>
    </div>
  </div>
</li>
</ul>
