<script src="../js/following.js"></script>
<div>
	<video width="100%" height="auto" autoplay controls> 
		<source src="../assets/hoover.webm" type="video/webm">
		<source src="../assets/hoover.mp4" type="video/mp4">  
	</video>
</div>
<a class="traveller-profile-pic-thumbnail-follow andrei-pic" href="traveller-profile.html" data-ignore="push"></a>
<div class="follow-date-text-video">
	Video Taken 1/22/15 3:24PM
</div>
<div class="marker-buttons">
	<a class="btn btn-primary" href="" onclick="javascript:$('#popup-overlay').trigger('click');">Done</a>
</div>
<script>wireOverlay();</script>

