<script src="../js/following.js"></script>
<div class="photo-discovery1"></div>
<a class="traveller-profile-pic-thumbnail-follow andrei-pic" href="traveller-profile.html" data-ignore="push"></a>
<div class="photo-description">Although the path may not look promising, great journeys await...</div>
<div class="follow-date-text-photo">
	Photo Taken 1/22/15 3:24PM
</div>
<div class="marker-buttons">
	<a class="btn btn-primary" href="#" onclick="javascript:$('#popup-overlay').trigger('click');">Done</a>
</div>
<br />
<script>wireOverlay();</script>

