<div class="bar-content bar-inverted">
    <h1 class="title">{{ include.title }}</h1>
    <div class="traveller-profile-pic"></div>
</div>
<ul class="table-view">
    <li class="table-view-cell">
        <span class="badge">388</span>
        Num Travels
    </li>
    <li class="table-view-cell">
        <span class="badge">25</span>
        Num Markers
    </li>
    <li class="table-view-cell">
        <span class="badge">1</span>
        Num Locations
    </li>
    <li class="table-view-cell">
        <span class="badge">1.5m</span>
        Distance
    </li>
</ul>