<script src="../js/following.js"></script>

<div id="route-info" class="sidebar-content">
    <div class="slider">
        <div class="slide">
            {% include route-info-panel.html title="Path 1 of 3" profile-id="catherine-pic" pathname="Exploring Old Buildings" path-start="Wilbur Dining"%}
        </div>
        <div class="slide">
            {% include route-info-panel.html title="Path 2 of 3" profile-id="ben-han-pic" pathname="Stanford Tour" path-start="Oak Creek" %}
        </div>
        <div class="slide">
            {% include route-info-panel.html title="Path 3 of 3" profile-id="andrei-pic" pathname="Morning Stroll to Hoover" path-start="Tressider" %}
        </div>
    </div>
    <div class="follow-button-container">
        <button class="btn btn-primary" id="route-info-button">Follow</button> 
    </div>
</div>
<script>
// Slick init scripts.
$('.slider').slick({
    dots: true
});
$('.slider button').remove(); 

wireFollow();

</script>
