<script src="../js/following.js"></script>

<div id="route-info" class="sidebar-content">
    <div id="route-info-slider">
        <div class="slide">
            {% include route-info-panel.html title="About" profile-id="catherine-pic" pathname="Temples Along the Canal" path-start="Heian Jingu" photo-track="photo-track1" path-end="End" %}
        </div>
        <div class="slide">
            {% include route-info-panel.html title="About" profile-id="catherine-pic" pathname="Riverside Stroll" path-start="Kyoto Imperial Palace" photo-track="photo-track2" path-end="End" %}
        </div>
        <div class="slide">
            {% include route-info-panel.html title="About" profile-id="ben-han-pic" pathname="Meditation Walk" path-start="Daimonji Base" photo-track="photo-track3" path-end="End" %}
        </div>
    </div>
</div>
<script>
// Slick init scripts.
$('#route-info-slider').slick({
    dots: true,
    infinite: false
});
$('#route-info-slider button').remove(); 
wireFollow();
</script>
