<div id="route-info" class="sidebar-content">
    <div class="slider" id="mySlider">
        <div class="slide-group">
            <div class="slide">
                {% include route-info-panel.html title="Route 1" profile-pic="" %}
            </div>
            <div class="slide">
                {% include route-info-panel.html title="Route 2" %}
            </div>
            <div class="slide">
                {% include route-info-panel.html title="Route 3" %}
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary btn-block">Follow</button> 
    </div>
</div>
<script>
// Slick init scripts.
$('.slide-group').slick({
    dots: true
});
$('.slide-group button').remove(); 
</script>