<div class="recording-content">
	<h3>Path saved!<h3>
	<br />
	<h4>Add Info</h4>
	<input type="text" placeholder="Path name">
	<input type="text" placeholder="Tags (comma separated)">
	<br />&nbsp;<br />
	<h4>Share it with your friends?</h4>
	<div style="text-align: center;">
		<button class="btn btn-primary" id="share-path">Share</button>
		<button class="btn btn-primary skip" id="skip-share-path">Skip</button>
	</div>
	</div>
<script>
$("#share-path").click(function(e) {
	hidePopup();
})
$("#skip-share-path").click(function(e) {
	hidePopup();
})
</script>