<div class="traveller-profile-pic-container">
	<div class="traveller-profile-pic"></div>
	<div class="traveller-header-info">
		<div class="traveller-name-text">Jiggly Puff</div>
		<div class="traveller-home-text">Redwood City, CA, USA</div>
	</div>
</div>
<div class="traveller-snapshot-info-container">
	<div class="traveller-snapshot-info-item">
		<span>Native</span> <br> <span>to Stanford</span>
	</div>
	<div class="traveller-snapshot-info-item">
		<span>3 paths</span> <br> <span>at Stanford</span>
	</div>
	<div class="traveller-snapshot-info-item">
		<span>14 </span> <br> <span>Stanford path followers</span>
	</div>
</div>
<div class="traveller-details-container">
	<div>Stanford Tour Guide 12'-13'</div>
</div>