<div class="traveller-profile-pic-container">
	<div class="traveller-profile-pic {{ include.profile-id }}"></div>
	<div class="traveller-header-info">
		<div class="traveller-name-text">{{ include.name }}</div> <!-- Name -->
		<div class="traveller-home-text">{{ include.hometown }}</div> <!-- Location -->
	</div>
</div>
<div class="traveller-snapshot-info-container">
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">Native</span> <br> <span class="metric-name">to {{ include.nativeLoc }}</span> <!-- NativeLov -->
	</div>
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">{{ include.numPaths }}</span> <br> <span class="metric-name">Paths in {{ include.nativeLoc }}</span> <!-- path num and loc -->
	</div>
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">{{ include.numFollowers }}</span> <br> <span class="metric-name">Path Followers</span> <!-- followers num -->
	</div>
</div>
<div class="traveller-details-container">
	<h5>Expertise</h5>
	
	<p> {{ include.expertise }}</p> <!-- experties -->
	<h5>About</h5>
	<p>
		{{ include.description }} <!-- Description--> 
	</p>
	<h5>Paths Created</h5>
</div>
	{% include paths.html %}
