<div class="traveller-profile-pic-container">
	<div class="traveller-profile-pic catherine-pic"></div>
	<div class="traveller-header-info">
		<div class="traveller-name-text">Catherine</div>
		<div class="traveller-home-text">Redwood City, CA, USA</div>
	</div>
</div>
<div class="traveller-snapshot-info-container">
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">Native</span> <br> <span class="metric-name">to Stanford</span>
	</div>
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">3</span> <br> <span class="metric-name">Paths at Stanford</span>
	</div>
	<div class="traveller-snapshot-info-item">
		<span class="metric-value">14 </span> <br> <span class="metric-name">Path Followers</span>
	</div>
</div>
<div class="traveller-details-container">
	<h6>About Catherine</h6>
	
	<p>Stanford Tour Guide 12'-13' <br>
		I like discovering places and meeting new people.
	</p>
	<h6>Paths Created</h6>
</div>
	{% include paths.html %}
